html
  head
    title= title
    style 
      include ../static/style.css
  body 
    nav#navbar 

       #logo 
         img(src="/static/IMG2.png", alt="", srcset="")
       ul 
        li 
         a(href="/") Home
        li 
         a(href="/") About
        li 
         a(href="/contact") Contact
        li 
         a(href="/") Service
    section#intosection 
        div 
        h3 Welcome To Dance Academey 

    section#missionsection 
        .card 1
        .card 2
        .card 3

    section#sponsorsection 
        h3 Sponsorsection 

    footer#footer
        p Copyrights &copy; 2022 | All Rights Reserved

    script
       include ../static/script.js 